/ {
	chosen {
		cansat,xbee = &uart1;
	};
	zephyr,user {
		io-channels = <&adc 0>;
	};
};


&pinctrl{
	uart_xbee: uart_xbee {
		group1 {
			pinmux = <UART1_TX_P8>;
		};
		group2 {
			pinmux = <UART1_RX_P9>;
			input-enable;
		};
	};
	led: led {
        compatible = "gpio-ctrl";
        gpios = <&gpio0 16 0x0>;
    };
};

&uart1 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart_xbee>;
	pinctrl-names = "default";
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

