&pinctrl {
    spi1_default: spi1_default {
        group1 {
            pinmux = <SPI1_CSN_P13>, <SPI1_SCK_P10>, <SPI1_TX_P11>;
        };
        group2 {
            pinmux = <SPI1_RX_P12>;
            input-enable;
        };
    };
 };

&spi1 {
    status = "okay";
    // clock-frequency = <DT_FREQ_M(8)>;
    pinctrl-0 = <&spi1_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
    sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        mmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
        };
        // spi-max-frequency = <15900000>;
        spi-max-frequency = <24000000>;
    };
};
 
